@font-face {
    font-family: 'Cheeky-rabbit';
    src: url(./style-fonts/Cheeky\ Rabbit.ttf);
}
@font-face {
    font-family: 'Charlotte-Southern';
    src: url(./style-fonts/Charlotte\ Southern.otf);
}
@font-face {
    font-family: 'Deadly-Advance';
    src: url(./style-fonts/Deadly\ Advance.ttf);
}
@font-face {
    font-family: 'MagmaWave-Caps';
    src: url(./style-fonts/MagmaWave\ Caps.otf);
}
@font-face {
    font-family: 'OriginTech-personal';
    src: url(./style-fonts/OriginTech\ personal\ use.ttf);
}
@font-face {
    font-family: 'Charlotte-Southern';
    src: url(./style-fonts/Charlotte\ Southern.otf);
}
@font-face {
    font-family: 'Charlotte-Southern';
    src: url(./style-fonts/Charlotte\ Southern.otf);
}
@font-face {
    font-family: 'Proximateus';
    src: url(./style-fonts/Proximateus.ttf);
}